In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries2023.csv')

In [3]:
df.isna()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
822,False,False,False,False,False,False
823,False,False,False,False,False,False
824,False,False,False,False,False,False
825,False,False,False,False,False,False
826,False,False,False,False,False,False

In [4]:
df.tail()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
822,823,Outdoor Education,Bachelors,"$37,400","$46,300",52%
823,824,Early Childhood Education,Bachelors,"$36,100","$45,400",78%
824,825,Mental Health,Bachelors,"$36,900","$45,000",-
825,826,Medical Assisting,Bachelors,"$36,000","$44,800",-
826,827,Metalsmithing,Bachelors,"$40,000","$40,300",33%

In [6]:
# Make new column to clean data for Early Career
clean_early_career = df['Early Career Pay'].str.replace('$', '')
df.insert(1, 'Early Career New', clean_early_career)
df.head()

<ipython-input-6-62ab5bd0eeca>:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  clean_early_career = df['Early Career Pay'].str.replace('$', '')

,Rank,Early Career New,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,"93,200",Petroleum Engineering,Bachelors,"$93,200","$187,300",67%
1,2,"84,800",Operations Research & Industrial Engineering,Bachelors,"$84,800","$170,400",28%
2,3,"108,500",Electrical Engineering & Computer Science (EECS),Bachelors,"$108,500","$159,300",46%
3,4,"68,300",Interaction Design,Bachelors,"$68,300","$155,800",55%
4,5,"59,800",Public Accounting,Bachelors,"$59,800","$147,700",47%

In [7]:
df['Early Career New'].str.replace('"', '')
df.head()

,Rank,Early Career New,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,"93,200",Petroleum Engineering,Bachelors,"$93,200","$187,300",67%
1,2,"84,800",Operations Research & Industrial Engineering,Bachelors,"$84,800","$170,400",28%
2,3,"108,500",Electrical Engineering & Computer Science (EECS),Bachelors,"$108,500","$159,300",46%
3,4,"68,300",Interaction Design,Bachelors,"$68,300","$155,800",55%
4,5,"59,800",Public Accounting,Bachelors,"$59,800","$147,700",47%

In [8]:
# Make new column for Mid-Career Pay
clean_mid_career = df['Mid-Career Pay'].str.replace('$', '')
df.insert(1, 'Mid-Career New', clean_mid_career)
df['Mid-Career New'].str.replace('"', '')
df.head()

<ipython-input-8-a04b4feddaa2>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  clean_mid_career = df['Mid-Career Pay'].str.replace('$', '')

,Rank,Mid-Career New,Early Career New,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,"187,300","93,200",Petroleum Engineering,Bachelors,"$93,200","$187,300",67%
1,2,"170,400","84,800",Operations Research & Industrial Engineering,Bachelors,"$84,800","$170,400",28%
2,3,"159,300","108,500",Electrical Engineering & Computer Science (EECS),Bachelors,"$108,500","$159,300",46%
3,4,"155,800","68,300",Interaction Design,Bachelors,"$68,300","$155,800",55%
4,5,"147,700","59,800",Public Accounting,Bachelors,"$59,800","$147,700",47%

In [11]:
# Added this to remove the commas since I was getting a TypeError
df['Mid-Career New'] = df['Mid-Career New'].str.replace(',', '').astype(float)

In [14]:
df['Early Career New'] = df['Early Career New'].str.replace(',', '').astype(float)

In [15]:
print(df.dtypes)

Rank                  int64
Mid-Career New      float64
Early Career New    float64
Major                object
Degree Type          object
Early Career Pay     object
Mid-Career Pay       object
% High Meaning       object
dtype: object

What college major has the highest mid-career salary? How much do graduates with this major earn?

In [17]:
df['Mid-Career New'].idxmax()

0

In [19]:
df['Mid-Career New'].max()

187300.0

In [20]:
df['Major'].loc[0]

'Petroleum Engineering'

2. Which college major has the lowest starting salary and how much do graduates earn after university?

In [21]:
df['Early Career New'].min()

34500.0

In [22]:
df['Major'].loc[df['Early Career New'].idxmin()]

'Voice & Opera'

3. Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [23]:
df['Mid-Career New'].min()

40300.0

In [24]:
df['Major'].loc[df['Mid-Career New'].idxmin()]

'Metalsmithing'

PART 2:
Using the .sort_values() method, find the degrees with the highest potential.

In [26]:
high_potential = df.sort_values('Mid-Career New', ascending=False)
high_potential['Major'].head()

0                               Petroleum Engineering
1        Operations Research & Industrial Engineering
2    Electrical Engineering & Computer Science (EECS)
3                                  Interaction Design
4                                   Public Accounting
Name: Major, dtype: object